<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sasuke Uchiwa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <header>
      <h1>Sasuke</h1>
    </header>
    <main>
      <section class="para2">
        <div class="sasuke">
          <img src="../../img/sasuke.jpeg" alt="" />
          <p>Nom : Sasuke Uchiwa</p>
          <p>Race : Humain</p>
          <p>Métier : Ninja déserteur</p>
          <p>
            Histoire : Sasuke Uchiwa est un personnage du manga et des séries
            animés Naruto créé par Masashi Kishimoto. C'est un ninja du village
            de Konoha au caractère calme et détaché, conçu pour être à la fois
            le partenaire et le rival du personnage principal, Naruto Uzumaki.
          </p>
        </div>
      </section>
      <footer>
        <div class="index">
          <a href="../itachi/index.html"><img src="../../img/itachi.jpeg" alt=""></a>
          <a href="../Madara/index.html"><img src="../../img/madara.jpeg" alt="" /></a>
          <a href="../kakashi/index.html"><img src="../../img/kakashi.jpeg" alt=""/></a>
          <a href="../naruto/index.html"><img src="../../img/naruto.jpeg" alt="" /></a>
          <a href="../Shikamaru/index.html"><img src="../../img/Shikamaru.jpeg" alt=""></a>
          <a href="../pain/index.html"><img src="../../img/pain.jpg" alt=""></a>


        </div>
      </footer>
    </main>
  </body>
</html>
