body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
  border: 3px solid #fe4817;
  border-radius: 20px;
  width: 160px;
  margin: 0 auto;
}

img {
  width: 300px;
}

.sasuke {
  padding: 1%;
  width: 400px;
  margin: 1%;
}

header {
  background-color: gray;
  padding: 2%;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.para2 {
  background-image: url(../../img/sasukewallpaper.webp);
  background-size: cover;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 150px;
}

@media (max-width: 575.98px) {
  h1 {
    text-align: center;
    font-size: 20px;
  }
  .itachi img {
    width: 150px;
  }
  p {
    font-size: 10px;
    overflow: hidden;
  }
  footer img {
    width: 100px;
    height: 80px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}
