<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kakashi Hatake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <header>
      <h1 id="Kakashi">Kakashi</h1>
    </header>
    <main>
      <section class="para4">
        <div class="kakashi">
          <img src="../../img/kakashi.jpeg" alt="" />
          <p>Nom : Kakashi Hatake</p>
          <p>Race : Humain</p>
          <p>Métier : Ninja Copieur</p>
          <p>
            Histoire : Kakashi Hatake est un personnage du manga Naruto créé par
            Masashi Kishimoto. Dans l'univers de la série, Kakashi est un ninja
            d’élite du village de Konoha.
          </p>
        </div>
      </section>
      <footer>
        <div class="index">
          <a href="../itachi/index.html"><img src="../../img/itachi.jpeg" alt=""></a>
          <a href="../sasuke/index.html"><img src="../../img/sasuke.jpeg" alt=""></a>
          <a href="../Madara/index.html"><img src="../../img/madara.jpeg" alt="" /></a>
          <a href="../naruto/index.html"><img src="../../img/naruto.jpeg" alt="" /></a>
          <a href="../Shikamaru/index.html"><img src="../../img/Shikamaru.jpeg" alt=""></a>
          <a href="../pain/index.html"><img src="../../img/pain.jpg" alt=""></a>

        </div>
      </footer>
    </main>
  </body>
</html>
