body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
}

img {
  width: 220px;
  max-height: 220px;
}

.ligne1 {
  display: inline-flex;
  width: 80%;
  margin: 2%;
  padding: 3%;
  background-color: transparent !important;
  justify-content: center;
  gap: 5%;
  flex-flow: row wrap;
}