<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Naruto Uzumaki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <header>
      <h1 id="Naruto">Naruto</h1>
    </header>
    <main>
      <section class="para5">
        <div class="naruto">
          <img src="../../img/naruto.jpeg" alt="" />
          <p>Nom : Naruto Uzumaki</p>
          <p>Race : Humain</p>
          <p>Métier : Hokage</p>
          <p>
            Histoire : Naruto Uzumaki est un personnage de fiction, principal
            protagoniste du manga Naruto inventé par Masashi Kishimoto Dans
            l'univers de la série, Naruto est un jeune ninja du village de
            Konoha. Hôte du démon renard à neuf queues, une créature qui a
            attaqué le village par le passé, il est rejeté par les autres
            villageois.
          </p>
        </div>
      </section>
      <footer>
        <div class="index">
          <a href="../itachi/index.html"><img src="../../img/itachi.jpeg" alt=""></a>
          <a href="../sasuke/index.html"><img src="../../img/sasuke.jpeg" alt=""></a>
          <a href="../Madara/index.html"><img src="../../img/madara.jpeg" alt="" /></a>
          <a href="../kakashi/index.html"><img src="../../img/kakashi.jpeg" alt=""/></a>
          <a href="../Shikamaru/index.html"><img src="../../img/Shikamaru.jpeg" alt=""></a>
          <a href="../pain/index.html"><img src="../../img/pain.jpg" alt=""></a>
        </div>
      </footer>
    </main>
  </body>
</html>
