<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Itachi Uchiwa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="main.js"></script>
  </head>

    <body>
      <header>
        <h1>ITACHI</h1>
      </header>
      <main>
        <section class="para1">
          <div class="itachi">
            <img src="../../img/itachi.jpeg" alt="" />
            <p>Nom : Itachi Uchiwa</p>
            <p>Race : Humain</p>
            <p>Métier : Ninja déserteur</p>
            <p>
              Histoire : Itachi Uchiwa est un personnage du manga Naruto. Frère
              aîné de Sasuke Uchiwa et excellent ninja de Konoha, il décima son
              clan pour défendre Konoha contre la rébellion des Uchiwa qui
              voulaient faire un coup d'état pour prendre le pouvoir.
            </p>
          </div>
        </section>
        <footer>
          <div class="index">
            <a href="../sasuke/index.html"><img src="../../img/sasuke.jpeg" alt="" /></a>
            <a href="../Madara/index.html"><img src="../../img/madara.jpeg" alt="" /></a>
            <a href="../kakashi/index.html"><img src="../../img/kakashi.jpeg" alt=""/></a>
            <a href="../naruto/index.html"><img src="../../img/naruto.jpeg" alt="" /></a>
            <a href="../Shikamaru/index.html"><img src="../../img/Shikamaru.jpeg" alt=""></a>
            <a href="../Pain/index.html"><img src="../../img/pain.jpg" alt=""></a>
          </div>
        </footer>
      </main>
    </body>

</html>
