<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Shikamaru Nara</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <header>
      <h1>Shikamaru</h1>
    </header>
    <main>
      <section class="para6">
        <div class="shikamaru">
          <img src="../../img/Shikamaru.jpeg" alt="" />
          <p>Nom : Shikamaru Nara</p>
          <p>Race : Humain</p>
          <p>Métier : Ninja de Konoha</p>
          <p>
            Histoire : Shikamaru Nara est un personnage du manga et des séries
            animées Naruto créés par Masashi Kishimoto. C'est un ninja du
            village de Konoha, Shikamaru est le 16ᵉ chef du Clan Nara. Il est
            l'un des meilleurs et plus fidèles amis de Naruto.
          </p>
        </div>
      </section>
      <footer>
        <div class="index">
          <a href="../itachi/index.html"><img src="../../img/itachi.jpeg" alt=""/></a>
          <a href="../sasuke/index.html"><img src="../../img/sasuke.jpeg" alt=""/></a>
          <a href="../Madara/index.html"><img src="../../img/madara.jpeg" alt=""/></a>
          <a href="../kakashi/index.html"><img src="../../img/kakashi.jpeg" alt=""/></a>
          <a href="../naruto/index.html"><img src="../../img/naruto.jpeg" alt=""/></a>
          <a href="../pain/index.html"><img src="../../img/pain.jpg" alt=""></a>
        </div>
      </footer>
    </main>
  </body>
</html>
